@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (max-width: 639px) {
  .flex.gap-6.justify-center {
    flex-direction: column;
  }
  .text-4xl {
    font-size: 1.5rem;
  }
  .banner{
    height: 140px;
    width: 100%;
  }
  .banner p {font-size: 15px; width: 150px; text-align: center; }
}
